<div id="revisions-list-container" style="max-height: 300px; overflow-y: auto;">
    <ul id="revisions-list" class="list-group">
        {% for rev in model.revisions %}
        <a href="{% url 'model' model_id=rev.model_id revision=rev.revision %}" class="list-group-item revision-item {% if rev.revision == model.revision %}active{% endif %}">
            <strong>Revision {{ rev.revision }}</strong>
            <small>Uploaded by {{ rev.uploader.profile.display_name|default:"a deleted user" }} on {{ rev.upload_date|date:"c" }}</small>
        </a>
        {% endfor %}
    </ul>
</div>