<div class="col-md-4 col-sm-6 col-12">
	{% if model.is_hidden %}
	<div class="card border-danger mb-4">
		<div class="card-header text-bg-danger">
	{% else %}
	<div class="card border-primary mb-4">
		<div class="card-header text-bg-primary">
	{% endif %}
			<h3 class="card-title fs-5 mb-0"><a class="text-reset" href="{% url 'model' model_id=model.model_id %}">{{ model.title }}</a></h3>
		</div>
		<div class="render-pane" data-model="{{ model.model_id }}" data-revision="{{ model.revision }}" id="render-pane{{ model.model_id }}.{{ model.revision }}">
		</div>
		<div class="card-body">
			<p>Categories:
				{% for category in model.categories.all %}
				<a href="{% url 'search' %}?category={{ category.name }}"><span class="badge text-bg-secondary">{{ category.name }}</span></a>
				{% endfor %}
			</p>
			<p>Tags:
				{% for k, v in model.tags.items %}
				<a href="{% url 'search' %}?tag={{ k }}={{ v }}"><span class="badge text-bg-secondary">{{ k }}={{ v }}</span></a>
				{% endfor %}
			</p>
			{% if hide_user %}
			<p>Upload date: {{ model.upload_date|date:"c" }}</p>
			{% else %}
			<p>Contributed by <a href="{% url 'user' uid=model.author.profile.uid %}"><span class="badge text-bg-secondary">{{ model.author.profile.display_name }}</span></a> on {{ model.upload_date|date:"c" }}</p>
			{% endif %}
		</div>
	</div>
</div>
