<p>3DMR tag: <a target="_blank" href="https://overpass-turbo.eu/?w=%223dmr%22%3D%22{{ model.model_id }}%22+global&R#"><strong>3dmr={{ model.model_id }}</strong></a></p>
{% if model.categories.all %}
<p>Categories:
    {% for category in model.categories.all %}
    <a href="{% url 'search' %}?category={{ category.name }}"><span class="label label-default">{{ category.name }}</span></a>
    {% endfor %}
</p>
{% endif %}
{% if model.tags.items %}
<p>Tags:
    {% for k, v in model.tags.items %}
    <a href="{% url 'search' %}?tag={{ k }}={{ v }}"><span class="label label-default">{{ k }}={{ v }}</span></a>
    {% endfor %}
</p>
{% endif %}
{% if model.rendered_description %}
<p>Description:</p>
<p>{{ model.rendered_description|safe }}</p>
{% endif %}
<p>Contributed by <a href="{% url 'user' model.author.profile.uid %}"><span class="label label-default">{{ model.author.profile.display_name }}</span></a></p>
{% if model.revisions|length > 1 %}
<p>This revision was uploaded
    {% if model.uploader %}
    by <a href="{% url 'user' model.uploader.profile.uid %}"><span class="label label-default">{{ model.uploader.profile.display_name }}</span></a>
    {% endif %}
    on {{ model.upload_date|date:"c" }}</p>
{% endif %}
{% if model.source %}
<p>From: 
    {% if model.source_is_url %}
    <a href="{{ model.source }}">Original Source</a>
    {% else %}
    {{ model.source }}
    {% endif %}
</p>
{% endif %}
<p>{{ license }}</p>
<a href="{% url 'get_model' model.model_id model.revision %}" class="btn btn-default" role="button">Download</a>
{% if user.is_authenticated and model.author == user or user.profile.is_admin %}
<a href="{% url 'edit' model.model_id model.revision %}" class="btn btn-default" role="button">Edit Metadata</a>
<a href="{% url 'revise' model.model_id %}" class="btn btn-default" role="button">Revise</a>
{% endif %}
{% if user.is_authenticated and user.profile.is_admin %}
{% if model.is_hidden %}
<strong>This model is hidden</strong>
{% endif %}
<p>
    <form action="{% url 'hide_model' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="model_id" value="{{ model.model_id }}">
        <input type="hidden" name="revision" value="{{ model.revision }}">
        {% if model.is_hidden %}
        <input type="hidden" name="type" value="unhide">
        <button type="submit" class="btn btn-danger">Unhide Model</button>
        {% else %}
        <input type="hidden" name="type" value="hide">
        <button type="submit" class="btn btn-danger">Hide Model</button>
        {% endif %}
    </form>
</p>
<p>
    <form action="{% url 'delete_model' %}" method="post" onsubmit="return confirmDeleteModel()">
        {% csrf_token %}
        <input type="hidden" name="model_id" value="{{ model.model_id }}">
        {% if not latest_page %}
        <input type="hidden" name="revision" value="{{ model.revision }}">
        <button type="submit" class="btn btn-danger">Delete Revision</button>
        {% else %}
        <button type="submit" class="btn btn-danger">Delete Model</button>
        {% endif %}
    </form>
</p>
{% endif %}